<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mini_projet">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mini_projet">
        
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".MainActivity2"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
            
        <activity
            android:name=".SingupClientActivity"
            android:exported="false" />
            
        <activity
            android:name=".home"
            android:exported="false" />
            
        <activity
            android:name=".profile"
            android:exported="false" />
            
        <activity
            android:name=".EditProfile"
            android:exported="false" />

        <!-- Admin Activities -->
        <activity
            android:name=".AdminDashboardActivity"
            android:exported="false" />
            
        <activity
            android:name=".ManageDemandsActivity"
            android:exported="false" />
            
        <!-- Mechanic Dashboard -->
        <activity
            android:name=".MechanicDashboardActivity"
            android:exported="false" />
            
        <!-- Add Garage -->
        <activity
            android:name=".AddGarageActivity"
            android:exported="false" />
            
        <!-- Mechanic Manage Garages -->
        <activity
            android:name=".MechanicManageGaragesActivity"
            android:exported="false" />
            
        <!-- Mechanic Demands -->
        <activity
            android:name=".MechanicDemandsActivity"
            android:exported="false" />
            
        <!-- Manage Garages (Admin) -->
        <activity
            android:name=".ManageGaragesActivity"
            android:exported="false" />
            
        <!-- Mechanic Garages List (Admin View) -->
        <activity
            android:name=".MechanicGaragesListActivity"
            android:exported="false" />


        <!-- Edit Garage -->
        <activity
            android:name=".EditGarageActivity"
            android:exported="false" />

        <!-- Garage Detail -->
        <activity
            android:name=".GarageDetailActivity"
            android:exported="false" />

        <!-- Chat Activities -->
        <activity
            android:name=".ChatActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".ChatListActivity"
            android:exported="false" />

        <activity
            android:name=".MechanicChatGaragesActivity"
            android:exported="false" />

        <activity
            android:name=".MechanicGarageChatListActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_API_KEY" />
    </application>

</manifest>